@import './../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

header {
  .my-2 {
    margin-top: ($spacer * 2) !important;
    margin-bottom: ($spacer * 2) !important;
  }
}
nav {
  padding-top: 0 !important;
  margin-bottom: ($spacer * 1) !important;
  input {
    background-color: $gray-400 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    &:focus {
      box-shadow: none !important;
      border-color: $blue-300 !important;
    }
  }
  button {
    background-color: $gray-400 !important;
    border-color: transparent !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    &:hover,
    &:active {
      background-color: $gray-500 !important;
      box-shadow: none !important;
    }
    &:active {
      border-color: $blue-300 !important;
    }
    &:focus {
      text-decoration: none !important;
      box-shadow: none !important;
    }
  }
}
#tagSelector {
  margin-bottom: 0.75em;
  .tag {
    cursor: pointer;
    background-color: $blue-400;

    color: $white;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 0.3em;
    .bi {
      margin-left: 0.5em;
      &:hover {
        color: $black;
      }
    }
  }
  .tagClose {
    display: none !important;
  }
}
.nav-item {
  padding-left: ($spacer * 1.5) !important;
  margin-bottom: ($spacer * 0.5) !important;
  .nav-link {
    color: $white !important;
    display: flex;
    justify-content: space-between;
    &::after {
      align-self: center;
    }
  }
  .dropdown-item {
    color: $white;
  }
  #tags-ingredients {
    background-color: $blue;
    .dropdown-item:hover {
      background-color: $blue-600 !important;
    }
  }
  .appareil {
    background-color: $teal !important;
  }
  .list-appliance {
    background-color: $teal !important;
    .dropdown-item:hover {
      background-color: $teal-600 !important;
    }
  }

  .ustensile {
    background-color: $orange !important;
  }
  .list-ustensil {
    background-color: $orange !important;
    .dropdown-item:hover {
      background-color: $orange-600 !important;
    }
  }
}
#card-recipe {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 1em 1em 1em 0 !important;
  img {
    background-color: $gray-500;
    min-height: 10em !important;
  }
  .container-title {
    display: flex;
    justify-content: space-between;
  }
  .card-body {
    padding: ($spacer * 2) !important;
    background-color: $gray-200;
    .card-title {
      display: flex;
      justify-content: space-between;
    }

    .container-details-recipe {
      display: flex;
      justify-content: space-between;
      font-size: small;
      .ingredient-recipe {
        white-space: nowrap;
        .ingredientOfRecipe {
          font-weight: bold;
        }
      }
      .description {
        white-space: normal;
      }
    }
  }
}
