@use 'sass:math';
@import './../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

/*******************HEADER********************/
header {
  .my-2 {
    margin-top: ($spacer * 2) !important;
    margin-bottom: ($spacer * 2) !important;
  }
}
/*********************************************/

/***************NAVIGATION********************/
.container-nav {
  margin: 0 4.5em 0 4.5em;
}
nav {
  padding-top: 0 !important;
  margin-bottom: ($spacer * 1) !important;
  .search {
    width: 100%;
  }
  .main-search {
    background-color: $gray-400 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    &:focus {
      box-shadow: none !important;
      border-color: $blue-300 !important;
    }
  }

  button {
    background-color: $gray-400 !important;
    border-color: transparent !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    &:hover,
    &:active {
      background-color: $gray-500 !important;
      box-shadow: none !important;
    }
    &:active {
      border-color: $blue-300 !important;
    }
    &:focus {
      text-decoration: none !important;
      box-shadow: none !important;
    }
  }
}
/************************************************/

/****Tags****/
.tagSelector {
  margin-bottom: 0.75em;
  .tag {
    cursor: pointer;
    color: $white;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0.5em 0.5em 0;
    border-radius: 0.3em;

    .close-tag {
      margin-left: 0.5em;
      &:hover {
        color: $black;
      }
    }
  }
  .ingredient {
    background-color: $blue-400;
    &:hover {
      background-color: $blue-500;
    }
  }
  .appliance {
    background-color: $teal;
    &:hover {
      background-color: $teal-600;
    }
  }
  .ustensil {
    background-color: $orange;
    &:hover {
      background-color: $orange-600;
    }
  }
}
/************/
/*****************DROPDOWNS**********************/
.filters {
  display: flex;
  gap: 1em;
  margin-bottom: ($spacer * 0.5);
}

.filter {
  position: relative;

  .filter-btn,
  ul {
    background: $blue;
    color: $white;
  }

  .filter-btn {
    display: flex;

    padding: 0.8em;
    border-radius: 0.3em;
    .bi-chevron-down {
      cursor: pointer;
    }
  }

  input[type='text'] {
    flex: 1;
    min-width: 0;

    border: none;
    background: transparent;
    color: inherit;
    outline: none;

    &::placeholder {
      color: inherit;
    }
  }

  .filter-dropdown {
    position: absolute;
    left: 0px;
    z-index: 9999;

    transition: all ease-in-out 0.2s;
    max-height: 0;
    overflow: hidden;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0.5em 0.3em;
    border-radius: 0.3em;
    border-top-left-radius: 0;

    max-height: 40vh;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;

    li {
      padding: 0.2em;
      white-space: nowrap;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      &-track {
        background: transparent;
      }
      &-thumb {
        background: rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      }
      &-corner {
        background: transparent;
      }
    }
  }
}

.hidden {
  max-height: 0;
}

.filter:focus-within {
  .filter-btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .bi-chevron-down::before {
    transform: rotate(-180deg);
  }

  .filter-dropdown {
    max-height: 40vh;
  }
}

.filter.appliances {
  .filter-btn,
  ul {
    background: $teal;
  }
}

.filter.ustensils {
  .filter-btn,
  ul {
    background: $orange;
  }
}

/******************************************************/
/**********************CARDS***************************/
.card {
  height: 100%;
  img {
    background-color: $gray-500;
    min-height: 10em !important;
  }
  .container-title {
    display: flex;
    justify-content: space-between;
    .card-title {
      display: flex;
      justify-content: space-between;
    }
  }
  .card-body {
    padding: ($spacer * 2) !important;
    background-color: $gray-200;

    .container-details-recipe {
      display: flex;
      justify-content: space-between;
      font-size: small;
      .ingredients-recipe {
        margin-right: 20px;
        .ingredient-recipe {
          white-space: nowrap;
        }
      }
    }

    .description {
      display: -webkit-box !important;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }
}
